@import '../../../root.scss';

main.default {
  border: 2px solid purple;

  &.primary-main {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: $spcr-md;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;

    box-shadow: $top-shadow;

    @each $theme, $value in $themes {
      // applies bg colour to header on navigation event
      @include theme-bg($theme, $value);
    }

    color: $shade-1-rgba;
  }

  &.secondary-main {
    border: 2px solid blue;
  }
}
