@import '../../styles/style.scss';

.area-a {
  grid-area: tile_01;
  background-color: red;
}
.area-b {
  grid-area: tile_02;
}
.area-c {
  grid-area: tile_03;
}
.area-d {
  grid-area: tile_04;
}

.area-e {
  grid-area: tile_05;
}

.area-f {
  grid-area: tile_06;
}

$cols-3: repeat(3, 1fr) !default;
$cols-6: repeat(6, 1fr) !default;
$cols-9: repeat(9, 1fr) !default;
$cols-12: repeat(12, 1fr) !default;

$rows-3: repeat(3, 1fr) !default;
$rows-6: repeat(6, 1fr) !default;
$rows-9: repeat(9, 1fr) !default;
$rows-12: repeat(12, 1fr) !default;

// link grid high res
@mixin default-grid {
  grid-gap: $spcr-md;
  margin: $spcr-md;
  grid-template-columns: $cols-3;
  grid-template-rows: $rows-3;
}

// link grid high res
@mixin btn-grid-hr {
  grid-gap: $spcr-md;
  margin: $spcr-md;
  grid-template-columns: $cols-12;
  grid-template-rows: $rows-6;
  grid-template-areas:
    'tile_01 tile_01 tile_01 tile_01 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02'
    'tile_01 tile_01 tile_01 tile_01 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02 tile_02'
    'tile_01 tile_01 tile_01 tile_01 tile_03 tile_03 tile_03 tile_03 tile_04 tile_04 tile_04 tile_04'
    'tile_01 tile_01 tile_01 tile_01 tile_03 tile_03 tile_03 tile_03 tile_04 tile_04 tile_04 tile_04'
    'tile_05 tile_05 tile_05 tile_05 tile_03 tile_03 tile_03 tile_03 tile_06 tile_06 tile_06 tile_06'
    'tile_05 tile_05 tile_05 tile_05 tile_03 tile_03 tile_03 tile_03 tile_06 tile_06 tile_06 tile_06';
  justify-items: stretch;
}

// todo: try to override elements with child elements or find better way to config grid
// todo: grid should be able to be passed arbitrary number of elements
// todo: grid-child-item should have one of three configs (sm md lg)
// todo: document progress for article

// link grid low res
@mixin btn-grid-lr {
  grid-gap: $spcr-sm;
  margin: $spcr-sm;
  grid-template-columns: $cols-6;
  grid-template-rows: $rows-3;
  grid-template-areas:
    'tile_01 tile_01 tile_02 tile_02 tile_02 tile_02'
    'tile_01 tile_01 tile_03 tile_03 tile_04 tile_04'
    'tile_05 tile_05 tile_03 tile_03 tile_06 tile_06';
  justify-items: stretch;
}

/* default grid-container set up */
.grid-container {
  margin: 0;
  display: grid;
  min-width: 300px;
  max-width: 100vw;
  @include default-grid;

  .item-auto {
    background: grey;
    min-height: 100px;
    // height: 100%;
    transition: all 0.6s ease-in;

    &.item-hovered {
    }
    &.item-hovered-primary {
      background-color: $primary-hex;
      background-color: transparent;
    }
    &.item-hovered-secondary {
      background-color: $secondary-hex;
    }
    &.item-hovered-tertiary {
      background-color: $tertiary-hex;
    }
    &.item-hovered-info {
      background-color: $shade-1-hex;
    }
  }
}

.button-grid {
  @include btn-grid-lr;
  width: 800px;
  height: 600px;
  max-width: 47rem;
  margin: 0 auto;
  background-color: transparent;
  &.theme-primary {
    @extend .theme-primary;
  }

  &.theme-secondary {
    @extend .theme-secondary;
  }

  &.theme-tertiary {
    @extend .theme-tertiary;
  }

  &.theme-info {
    @extend .theme-info;
  }

  @include media('>tablet') {
    @include btn-grid-hr;
  }
}
