@import '../../root.scss';

svg.icon-container {
  width: inherit; // default 4rem on width attr
  height: inherit; // default 4rem on height attr

  &.paths_projects {
    fill: var(--secondary-color);
  }

  &.paths_plus {
    fill: none;
  }

  &.paths_design {
    fill: var(--secondary-color);
  }

  path {
    stroke: var(--secondary-color);
    stroke-width: 0.075rem; //todo: keep consistent across paths
    &.home {
      fill: none;
    }
    &.tools {
      fill: var(--secondary-color);
    }
    &.design {
      fill: var(--secondary-color);
    }
  }

  text {
    x: inherit; // default 2rem set on text x attr
    y: inherit; // default 2rem set on text y attr
    font-size: 2.5rem; //todo - check
    fill: var(--secondary-color);
  }

  image {
    width: inherit; // default 4rem on width attr
    height: inherit; // default 4rem on height attr
  }
}
