@import '../../../root.scss';

section.default {
  border: 1px solid var(--border-color);

  &.primary-section {
    border: 0.5rem solid var(--border-color);
  }

  &.secondary-section {
    border: 0.5rem solid var(--accent-color);
  }
}
