@import 'src/root.scss';

section.default {
  border: 1px solid var(--border-color);
  border-radius: $default-radius;
  padding: $spcr-sm;
  @include consistent-spacer($spcr-md, $spcr-sm);

  .section-title {
    margin-top: $spcr-md;
    letter-spacing: 0.07em;
  }

  &.primary-section {
    border: 1px solid var(--border-color);
    background-color: var(--background-primary-color);
  }

  &.secondary-section {
    border: 1px solid var(--accent-color);
    background-color: var(--background-secondary-color);
  }
}
