@import '../../root.scss';

.header-container {
  height: -webkit-fill-available; // todo: janky animations on scroll, replace with something better
  height: 100vh; // initial component height
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in; // default fallback transition
  @each $theme, $value in $themes {
    // applies bg colour to header on navigation event
    &.theme-#{$theme} {
      @extend .#{$value};
    }
  }
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.title-container {
  height: 100vh;
}
