@import 'src/root.scss';

div.content-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // max-width: $max-w-page;

  // @include media('>desktop') {
  //   flex-direction: row;
  // }
}
