@import '../node_modules/include-media/dist/include-media.scss';
@import './styles/theme/_colors.scss';
@import './styles/theme/_themes.scss';

/**
 * 
 * * Breakpoints 
 */
$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

/**
 * 
 * * Spacing 
 */

$spcr-xsm: 0.35rem; // todo: change to em or ch / add extra spcing vars
$spcr-sm: 0.65rem;
$spcr-md: 1rem;
$spcr-lg: 1.75rem;

// Keeps consistency in spacing components vertically
@mixin consistent-spacer($margin-b, $padding) {
  margin-bottom: $margin-b;
  padding: $padding;
}

/**
 * 
 * * Global 
 */
* {
  line-height: normal;
  font-family:
    'Saira',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
}

/**
 * 
 * * Themes
 */
$themes: ('default', 'dark', 'tropical', 'mystic', 'night', 'purple-hills');

/**
 * 
 * * Typography 
 */
$font-title: 'Vidaloka', Georgia, 'Times New Roman', Arial, Tahoma, 'Courier New', serif;

$font-main: 'Exo', Arial, 'Helvetica Neue', Helvetica, sans-serif;

$font-pre: 'Space Mono', monospace; // normal: 400, 700, italics: 400 700

$font-weights: (
  xsmall: 100,
  small: 200,
  body: 400,
  semibold: 600,
  bold: 700,
);

$font-sz-sm: 0.8rem;
$font-sz-body: 1rem;
$font-sz-lg: 1.25rem;
$font-sz-xl: 1.75rem;

$title-sz-xsm: 1.45rem;
$title-sz-sm: 1.95rem;
$title-sz-md: 2.35rem;
$title-sz-lg: 2.75rem;
$title-sz-xl: 3.25rem;
$title-sz-xxl: 4rem;

@mixin primary-title {
  font-family: $font-title;
}

@mixin secondary-title {
  font-family: $font-title;
  font-weight: 200;
  text-decoration: underline;
}

// keeping title styles global in case styled needed for elsewhere
@mixin main-title {
  @include primary-title;
  @include consistent-spacer($spcr-md, $spcr-sm);
  font-size: $title-sz-xxl;
  font-weight: 700;
}

@mixin sub-title {
  @include secondary-title;
  @include consistent-spacer($spcr-md, $spcr-sm);
  font-size: $title-sz-xl;
}

@mixin medium-title {
  @include primary-title;
  @include consistent-spacer($spcr-md, $spcr-sm);
  font-size: $title-sz-lg;
  font-weight: 600;
}

@mixin medium-sub-title {
  @include secondary-title;
  @include consistent-spacer($spcr-sm, $spcr-sm);
  font-size: $title-sz-md;
}

@mixin small-title {
  @include primary-title;
  @include consistent-spacer($spcr-sm, $spcr-xsm);
  font-size: $title-sz-sm;
  font-weight: 500;
}

@mixin small-sub-title {
  @include secondary-title;
  @include consistent-spacer($spcr-sm, $spcr-xsm);
  font-size: $title-sz-xsm;
}

@mixin text-centered {
  text-align: center;
}

/**
 *
 * * Shadows and effects
 */
$top-shadow: 0 0 20px #333; // todo: refine
$default-radius: 5px;

/**
 *
 * * Grid/area values
 */
$grid-areas: (
  a: tile_01,
  b: tile_02,
  c: tile_03,
  d: tile_04,
  e: tile_05,
  f: tile_06,
);

$area-themes: (
  a: primary,
  b: secondary,
  c: tertiary,
  d: neutral,
  e: background-primary,
  f: background-secondary,
); // maps named areas (a, b, c, ..) to colors names (primary, secondary..).

$img-theme: (
  a: '~src/assets/original.jpg',
  b: 'https://picsum.photos/g/1921/1081?random.jpg',
  c: '~src/assets/landscape.jpg',
  d: 'https://picsum.photos/g/1921/1081?random.jpg',
  e: '~src/assets/original.jpg',
  f: 'https://picsum.photos/g/1921/1081?random.jpg',
);

// @mixin purple-gradient($attribute) {
//   #{$attribute}: -webkit-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -moz-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -ms-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -o-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: linear-gradient($second-color-for-gradient, $purple) !important;
// }

@mixin color-gradient($attribute, $second, $purple) {
  // #{$attribute}: -webkit-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -moz-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -ms-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -o-linear-gradient($second-color-for-gradient, $purple) !important; //todo
  #{$attribute}: linear-gradient($second, $purple) !important;
}

// -moz-gradient(linear, left top, left bottom, color-stop(0%, $topBarDarkBlue);
// background: -ms-gradient(linear, left top, left bottom, color-stop(0%, $topBarDarkBlue);
// }

@mixin bg-img($area, $url) {
  &.bg-img-#{$area} {
    background: url(#{$url}) top center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@mixin bg-col($area, $val) {
  &.bg-#{$area} {
    background-color: var(--#{$val}-color);
  }
}

@include media('>tablet', '<950px') {
}

/**
 *
 * * Transitions and animations
 */

@mixin defaultTransition {
  transition: all 0.6s ease-in; // default fallback transition
}

$animation-duration: 600;

// transition delays (ms)
$animation-delays: 250, 500, 750, 1000, 1250, 1500;

div.main-container-enter {
  // opacity: 0;
  transform: translateY(0vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-active {
  // opacity: 1;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-enter-done {
  // opacity: 0;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-exit {
  // opacity: 1;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}
div.main-container-exit-active {
  // opacity: 0;
  transform: translateY(0vh);
  transition: transform #{$animation-duration}ms;
}

/**
 *
 * * Temporary
 */
.temp-form {
  margin: 0 auto;
  max-width: 42rem;
  display: flex;
  justify-content: space-around;
}

div#app-root,
.parallax-container {
  height: -webkit-fill-available; // todo: janky scroll
  // prevents whitespace caused by parallax elements
}
