/* TODO: Create root colour vars */
/* TODO: Create root spacing vars */

@import '../node_modules/include-media/dist/include-media.scss';
@import './styles/theme/_colors.scss';
@import './styles/theme/_themes.scss';

// themes control css vars
// vars apply the correct theme color

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

* {
  /****** *********** important ************ ******/
  line-height: 1rem;

  font-family:
    'Saira',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif;
}

div#app-root,
.parallax-container {
  height: -webkit-fill-available; // todo: janky scroll
  // prevents whitespace caused by parallax elements
}

@mixin main-title {
  padding: 1.25rem 1.75rem;
}

@mixin sub-title {
  padding: 1rem 1.5rem;
}

@mixin medium-title {
  padding: 0.75rem 1rem;
}

@mixin medium-sub-title {
  padding: 0.75rem 1rem;
}

@mixin small-title {
  padding: 0.75rem 1rem;
}

@mixin small-sub-title {
  padding: 0.75rem 1rem;
}

$spcr-sm: 0.6rem;
$spcr-md: 1.25rem;
$spcr-lg: 3rem;

$font-sz-body: 1rem;
$font-sz-sm: 0.8rem;
$font-sz-lg: 1.25rem;

$grid-areas: (
  a: tile_01,
  b: tile_02,
  c: tile_03,
  d: tile_04,
  e: tile_05,
  f: tile_06,
);

$themes: ('default', 'dark', 'tropical', 'mystic', 'night', 'purple-hills');

// maps named areas (a, b, c, ..) to colors names (primary, secondary..).
$area-themes: (
  a: primary,
  b: secondary,
  c: tertiary,
  d: neutral,
  e: background-primary,
  f: background-secondary,
);

$img-theme: (
  a: '~src/assets/original.jpg',
  b: 'https://picsum.photos/g/1921/1081?random.jpg',
  c: '~src/assets/landscape.jpg',
  d: 'https://picsum.photos/g/1921/1081?random.jpg',
  e: '~src/assets/original.jpg',
  f: 'https://picsum.photos/g/1921/1081?random.jpg',
);

// @mixin purple-gradient($attribute) {
//   #{$attribute}: -webkit-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -moz-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -ms-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: -o-linear-gradient($second-color-for-gradient, $purple) !important;
//   #{$attribute}: linear-gradient($second-color-for-gradient, $purple) !important;
// }

@mixin color-gradient($attribute, $second, $purple) {
  // #{$attribute}: -webkit-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -moz-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -ms-linear-gradient($second-color-for-gradient, $purple) !important;
  // #{$attribute}: -o-linear-gradient($second-color-for-gradient, $purple) !important; //todo
  #{$attribute}: linear-gradient($second, $purple) !important;
}

// -moz-gradient(linear, left top, left bottom, color-stop(0%, $topBarDarkBlue);
// background: -ms-gradient(linear, left top, left bottom, color-stop(0%, $topBarDarkBlue);
// }

@mixin bg-img($area, $url) {
  &.bg-img-#{$area} {
    background: url(#{$url}) top center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

@mixin bg-col($area, $val) {
  &.bg-#{$area} {
    //  @extend .bg-color-#{$val};

    // background-color: #{$val};

    background-color: var(--#{$val}-color);
  }
}

.pseudo-code-lol {
  /*pseudo code
  1 add prop that is background color
  2 add prop that is bg-gradient
  3 add prop that is background image repeat (small svg images) OR <pre> 🏡🌇 🏡🌇 🏡🌇 🏡🌇 🏡🌇 🏡🌇 </ pre>
  4 three fade out !selected || !hovered
  */
}

@include media('>tablet', '<950px') {
}

// todo: following classes are temp only
// .bg-color-primary {
//   background-color: $default-primary;
// }

// .bg-color-secondary {
//   background-color: $default-secondary;
// }

// .bg-color-tertiary {
//   background-color: $default-tertiary;
// }

// .bg-color-info {
//   background-color: $default-shade-a1;
// }

$top-shadow: 0 0 20px #333; // todo: refine

@mixin defaultTransition {
  transition: all 0.6s ease-in; // default fallback transition
}

$animation-duration: 600;

// transition delays (ms)
$animation-delays: 250, 500, 750, 1000, 1250, 1500;

div.main-container-enter {
  // opacity: 0;
  transform: translateY(0vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-active {
  // opacity: 1;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-enter-done {
  // opacity: 0;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}

div.main-container-exit {
  // opacity: 1;
  transform: translateY(-50vh);
  transition: transform #{$animation-duration}ms;
}
div.main-container-exit-active {
  // opacity: 0;
  transform: translateY(0vh);
  transition: transform #{$animation-duration}ms;
}

.temp-form {
  margin: 0 auto;
  max-width: 42rem;
  display: flex;
  justify-content: space-around;
}
