/** *** *** Default theme *** *** */

// todo: theme switcher context
// placeholder only
$primary: rgb(0, 39, 34);
$secondary: rgb(58, 90, 83);
$tertiary: rgb(40, 140, 200);

$shade-a3: rgb(165, 152, 132);
$shade-a2: rgb(191, 178, 163);
$shade-a1: rgb(242, 240, 240);

/* *** *** Default theme 2.0 *** *** */

$default-primary: rgb(0, 39, 34);
$default-secondary: rgb(58, 90, 83);
$default-tertiary: rgb(0, 0, 0);

$default-neutral: rgb(165, 152, 132);

$default-background-primary: rgb(191, 178, 163);
$default-background-secondary: rgb(242, 240, 240);

$default-text: black;
$default-inverse: white;

$default-accent: rgb(40, 140, 200);
$default-highlight: rgb(40, 140, 200);
$default-border: rgb(40, 140, 200);

$default-button: yellow;
$default-link: pink;

$default-success: green;
$default-warning: orange;
$default-error: red;
$default-info: blue;

/** *** *** Tropical theme 2.0 *** *** */

$tropical-primary: rgb(2, 81, 89);
$tropical-secondary: rgb(38, 140, 140);
$tropical-tertiary: rgb(128, 140, 39);

$tropical-neutral: grey;

$tropical-background-primary: white;
$tropical-background-secondary: purple;

$tropical-text: white;
$tropical-inverse: black;

$tropical-accent: rgb(188, 191, 80);
$tropical-highlight: rgb(242, 110, 80);
$tropical-border: rgb(242, 110, 80);

$tropical-success: green;
$tropical-warning: orange;
$tropical-error: red;
$tropical-info: blue;

$tropical-button: yellow;
$tropical-link: pink;

// optional - $tropical-background-extra

// Define a function to add alpha to RGB color
// todo: test that this works as intended OR
@function rgba-add-alpha($red, $green, $blue, $alpha) {
  @return rgba($red, $green, $blue, $alpha);
}

//   background-color: rgba(#abc123, 0.5);
