/* Color Swatch Hex */
$primary-hex: #012625;
$secondary-hex: #3b5953;
$tertiary-hex: #000000;
$shade-3-hex: #a69a86;
$shade-2-hex: #bfb2a2;
$shade-1-hex: #f2f0f0;

/* Color swatch */
$primary-rgba: rgba(0, 39, 34, 1);
$secondary-rgba: rgba(58, 90, 83, 1);
$shade-3-rgba: rgba(165, 152, 132, 1);
$shade-2-rgba: rgba(191, 178, 163, 1);
$shade-1-rgba: rgba(242, 240, 240, 1);
