@import 'src/root.scss';

div.lg-viewport-content-container {
  display: flex;
  flex-direction: row;

  min-height: 100vh;

  > .paragraphs-container {
    padding-top: 75vh;
    //  flex: 1 1 50%;
    width: 50%; // TODO: might use golden ratio instead

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  > .current-image-container {
    //    flex: 1 1 50%;

    @include media('>phone') {
      // TODO: either css should handle and comp deals with both rendering or switch using JS
      width: 50%;
      position: fixed;
      background-color: black;
      color: white;
      //margin-left: 50%;
      transform: translateX(100%);
      min-height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;

      > figure {
        max-width: 500px !important;
      }
    }
    //position: fixed;
  }

  &.reversed {
    flex-direction: row-reverse;

    > .paragraphs-container {
      //  flex: 1 1 50%;
      margin-left: 50% !important; // TODO: might use golden ratio instead
    }

    > .current-image-container {
      margin-left: 0 !important;
      transform: translateX(-100%);
    }
  }

  // max-width: $max-w-page;

  // @include media('>desktop') {
  //   flex-direction: row;
  // }
}

// TODO FIXME
.sb-show-main.sb-main-padded {
  padding: 0 !important;
}
